<div id="board">
  <div class="row" *ngFor="let row of board; let y = index">
    <div class="cell"
         (mousedown)="mousedown(x, y)"
         (mouseup)="mouseup(x, y)"
         [style.backgroundColor]="y % 2 == x % 2 ? '#eeeeee' : '#b7b7b7'"
         *ngFor="let cell of row.cells; let x = index">
      <span class="figure" *ngIf="cell.figure">{{cell.figure?.white ? cell.figure?.whiteImg : cell.figure?.blackImg}}</span>
      <span class="move-indicator" *ngIf="cell.showValidMoveIndicator">•</span>
    </div>
  </div>
</div>
